
<div class="row hide-for-modal">
    <div class="col-sm-12">
        <h4 class="page-title">Product Sub Codification Create</h4>
    </div>
</div>
 
<div class="row">
    <div class="col-12">
        <form class="form-horizontal" action="#" data-parsley-validate novalidate id="frmCNew">
            <div class="loginmessage"></div>
            <div class="card-box">
                <div class="form-row">
                    <div class="form-group col-md-6" style="margin-left: 265px;">
                        <label >Product*</label>
                        <select class="form-control select2 select2-hidden-accessible " id="itmid" >
                            <option value="">select</option>
                            <% for(var k in row) { %>
                            <option value="<%-row[k].id%>"><%-row[k].size_id%></option>
                            <% } %>
                        </select>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-3">
                    </div>
                    <% for(var k in specificcategory) { %>
                    <div class="form-group col-md-3 specific_category_cls" data-id="<%-specificcategory[k].id%>">
                        <label ><%-specificcategory[k].specification_name%>*</label>
                        <select class="form-control select2 select2-hidden-accessible specification_item_cls" id="speification_item<%-specificcategory[k].id%>" data-name='<%-specificcategory[k].specification_name%>'>
                            <option value="">select</option>
                        </select>
                    </div>
                     <% } %>
                </div>
                <div class="form-group col-md-6" style="margin-left: 290px;">
                         <label >Product Code</label>
                        <textarea class="form-control" rows="2"  id="product_code" readonly="" style="text-align: center;"></textarea>
                    </div>
                     <input type="hidden" id="product_name">
                     <input type="hidden" id="product_part">
            </div>
            <div class="card-box">
                <div class="form-group text-right m-b-0">
            <button class="btn btn-primary waves-effect waves-light" type="submit">
                Submit
            </button>
            <button class="btn btn-secondary waves-effect waves-light m-l-5 c-n-b hide-for-modal">
                Cancel
            </button>
            </div>
            </div>
        </form>
    </div><!-- end col -->
</div>
<script type="text/javascript" src="default_assets/plugins/parsleyjs/dist/parsley.min.js"></script>
<script src="assets/js/app/prod_codification.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        CODIFICATION.initOfferPSCN();
    });
</script>