<%
                                    for(var k in featurearray) {
                                    %>
                        <input type="Checkbox" name="product_feature"  
                                 value="Body" class="prod_feature" <% if(featurearray[k]=='Body'){%>checked<%}%>>Body
                                <input type="Checkbox" name="product_feature"  
                                 value="Forged" class="prod_feature" <% if(featurearray[k]=='Forged'){%>checked<%}%>>Forged
                                <input type="Checkbox" name="product_feature" 
                                 value="Bonnet/Cover" class="prod_feature" <% if(featurearray[k]=='Bonnet/Cover'){%>checked<%}%>>Bonnet/Cover
                                 <input type="Checkbox" name="product_feature" 
                                 value="Bolted" class="prod_feature" <% if(featurearray[k]=='Bolted'){%>checked<%}%>>Bolted
                                 <input type="Checkbox" name="product_feature" 
                                 value="Spindle" class="prod_feature" <% if(featurearray[k]=='Spindle'){%>checked<%}%>>Spindle
                                 <input type="Checkbox" name="product_feature" 
                                 value="Rising" class="prod_feature" <% if(featurearray[k]=='Rising'){%>checked<%}%>>Rising
                                 <input type="Checkbox" name="product_feature" 
                                 value="Seat" class="prod_feature" <% if(featurearray[k]=='Seat'){%>checked<%}%>>Seat
                                 <input type="Checkbox" name="product_feature" 
                                 value="Renewable" class="prod_feature" <% if(featurearray[k]=='Renewable'){%>checked<%}%>>Renewable
                                 <input type="Checkbox" name="product_feature" 
                                 value="Wedge/Disc" class="prod_feature" <% if(featurearray[k]=='Wedge/Disc'){%>checked<%}%>>Wedge/Disc
                                 <input type="Checkbox" name="product_feature" 
                                 value="Loose Needle" class="prod_feature" <% if(featurearray[k]=='Loose Needle'){%>checked<%}%>>Loose Needle
                                 <input type="Checkbox" name="product_feature" 
                                 value="Gland Boss" class="prod_feature" <% if(featurearray[k]=='Gland Boss'){%>checked<%}%>>Gland Boss
                                 <input type="Checkbox" name="product_feature" 
                                 value="Single" class="prod_feature" <% if(featurearray[k]=='Single'){%>checked<%}%>>Single
                                 <input type="Checkbox" name="product_feature" 
                                 value="Back Seat" class="prod_feature" <% if(featurearray[k]=='Back Seat'){%>checked<%}%>>Back Seat
                                 <input type="Checkbox" name="product_feature" 
                                 value="Integral" class="prod_feature" <% if(featurearray[k]=='Integral'){%>checked<%}%>>Integral
                                 <input type="Checkbox" name="product_feature" 
                                 value="Hand Wheel" class="prod_feature" <% if(featurearray[k]=='Hand Wheel'){%>checked<%}%>>Hand Wheel
                                 <input type="Checkbox" name="product_feature" 
                                 value="Rising" class="prod_feature" <% if(featurearray[k]=='Rising'){%>checked<%}%>>Rising
                                 <input type="Checkbox" name="product_feature" 
                                 value="Gasket" class="prod_feature" <% if(featurearray[k]=='Gasket'){%>checked<%}%>>Gasket
                                 <input type="Checkbox" name="product_feature" 
                                 value="Spiral wound" class="prod_feature" <% if(featurearray[k]=='Spiral wound'){%>checked<%}%>>Spiral wound

                                   <%
                                     }
                                    %>


                                    <input type="Checkbox" name="product_feature"  
                                 value="Body" class="prod_feature" <% if(featurearray[0]=='Body'){%>checked<%}%>>Body
                                <input type="Checkbox" name="product_feature"  
                                 value="Forged" class="prod_feature" <% if(featurearray[0]=='Forged'){%>checked<%}%>>Forged
                                <input type="Checkbox" name="product_feature" 
                                 value="Bonnet/Cover" class="prod_feature" <% if(featurearray[1]=='Bonnet/Cover'){%>checked<%}%>>Bonnet/Cover
                                 <input type="Checkbox" name="product_feature" 
                                 value="Bolted" class="prod_feature" <% if(featurearray[0]=='Bolted'){%>checked<%}%>>Bolted
                                 <input type="Checkbox" name="product_feature" 
                                 value="Spindle" class="prod_feature" <% if(featurearray[0]=='Spindle'){%>checked<%}%>>Spindle
                                 <input type="Checkbox" name="product_feature" 
                                 value="Rising" class="prod_feature" <% if(featurearray[0]=='Rising'){%>checked<%}%>>Rising
                                 <input type="Checkbox" name="product_feature" 
                                 value="Seat" class="prod_feature" <% if(featurearray[0]=='Seat'){%>checked<%}%>>Seat
                                 <input type="Checkbox" name="product_feature" 
                                 value="Renewable" class="prod_feature" <% if(featurearray[0]=='Renewable'){%>checked<%}%>>Renewable
                                 <input type="Checkbox" name="product_feature" 
                                 value="Wedge/Disc" class="prod_feature" <% if(featurearray[0]=='Wedge/Disc'){%>checked<%}%>>Wedge/Disc
                                 <input type="Checkbox" name="product_feature" 
                                 value="Loose Needle" class="prod_feature" <% if(featurearray[0]=='Loose Needle'){%>checked<%}%>>Loose Needle
                                 <input type="Checkbox" name="product_feature" 
                                 value="Gland Boss" class="prod_feature" <% if(featurearray[0]=='Gland Boss'){%>checked<%}%>>Gland Boss
                                 <input type="Checkbox" name="product_feature" 
                                 value="Single" class="prod_feature" <% if(featurearray[0]=='Single'){%>checked<%}%>>Single
                                 <input type="Checkbox" name="product_feature" 
                                 value="Back Seat" class="prod_feature" <% if(featurearray[0]=='Back Seat'){%>checked<%}%>>Back Seat
                                 <input type="Checkbox" name="product_feature" 
                                 value="Integral" class="prod_feature" <% if(featurearray[2]=='Integral'){%>checked<%}%>>Integral
                                 <input type="Checkbox" name="product_feature" 
                                 value="Hand Wheel" class="prod_feature" <% if(featurearray[0]=='Hand Wheel'){%>checked<%}%>>Hand Wheel
                                 <input type="Checkbox" name="product_feature" 
                                 value="Rising" class="prod_feature" <% if(featurearray[0]=='Rising'){%>checked<%}%>>Rising
                                 <input type="Checkbox" name="product_feature" 
                                 value="Gasket" class="prod_feature" <% if(featurearray[0]=='Gasket'){%>checked<%}%>>Gasket
                                 <input type="Checkbox" name="product_feature" 
                                 value="Spiral wound" class="prod_feature" <% if(featurearray[0]=='Spiral wound'){%>checked<%}%>>Spiral wound


                                 <!--<div class="form-group col-md-3">
                        <label >Enquery validity</label>
                        <select type="text" class="form-control" id="enquery_validity"  required>
                        <%
                                    for(var k in payment_terms) {
                                    %>
                                    <option value="<%-k%>"><%-payment_terms[k]%></option>
                                        <%
                                     }
                                    %>
                                </select>
                    </div>
                    <div class="form-group col-md-3">
                        <label >Currency</label>
                        <select id="currency" name="currency" class="form-control" parsley-trigger="change"> 
                            <%
                                    for(var m in currency.currency) {
                                    %>
                            <option value="<%-currency.currency[m]%>"><%-currency.currency[m]%></option>
                               <%
                                     }
                                    %>
                            
                        </select>
                    </div>-->

                     <div class="card-box">
            <h4 class="m-t-0 header-title">Product Feature</h4>
                <div class="form-row">
                 <div class="form-group col-md-12">
                        <label >Feature*</label>

                        <%
                                    for(var k in featurearray) {
                                    %>
                                <input type="Checkbox" name="product_feature"  
                                 value="Body" class="prod_feature" <% if( featurearray != undefined && featurearray[k]=='Body'){%>checked<%}%>>Body
                                <input type="Checkbox" name="product_feature"  
                                 value="Forged" class="prod_feature" <% if(featurearray != undefined && featurearray[k]=='Forged'){%>checked<%}%>>Forged
                                <input type="Checkbox" name="product_feature" 
                                 value="Bonnet/Cover" class="prod_feature" <% if(featurearray != undefined && featurearray[k]=='Bonnet/Cover'){%>checked<%}%>>Bonnet/Cover
                                 <input type="Checkbox" name="product_feature" 
                                 value="Bolted" class="prod_feature" <% if(featurearray != undefined && featurearray[k]=='Bolted'){%>checked<%}%>>Bolted
                                 <input type="Checkbox" name="product_feature" 
                                 value="Spindle" class="prod_feature" <% if(featurearray != undefined && featurearray[k]=='Spindle'){%>checked<%}%>>Spindle
                                 <input type="Checkbox" name="product_feature" 
                                 value="Rising" class="prod_feature" <% if(featurearray != undefined && featurearray[k]=='Rising'){%>checked<%}%>>Rising
                                 <input type="Checkbox" name="product_feature" 
                                 value="Seat" class="prod_feature" <% if(featurearray != undefined && featurearray[k]=='Seat'){%>checked<%}%>>Seat
                                 <input type="Checkbox" name="product_feature" 
                                 value="Renewable" class="prod_feature" <% if(featurearray != undefined && featurearray[k]=='Renewable'){%>checked<%}%>>Renewable
                                 <input type="Checkbox" name="product_feature" 
                                 value="Wedge/Disc" class="prod_feature" <% if(featurearray != undefined && featurearray[k]=='Wedge/Disc'){%>checked<%}%>>Wedge/Disc
                                 <input type="Checkbox" name="product_feature" 
                                 value="Loose Needle" class="prod_feature" <% if(featurearray != undefined && featurearray[k]=='Loose Needle'){%>checked<%}%>>Loose Needle
                                 <input type="Checkbox" name="product_feature" 
                                 value="Gland Boss" class="prod_feature" <% if(featurearray != undefined && featurearray[k]=='Gland Boss'){%>checked<%}%>>Gland Boss
                                 <input type="Checkbox" name="product_feature" 
                                 value="Single" class="prod_feature" <% if(featurearray != undefined && featurearray[k]=='Single'){%>checked<%}%>>Single
                                 <input type="Checkbox" name="product_feature" 
                                 value="Back Seat" class="prod_feature" <% if(featurearray != undefined && featurearray[k]=='Back Seat'){%>checked<%}%>>Back Seat
                                 <input type="Checkbox" name="product_feature" 
                                 value="Integral" class="prod_feature" <% if(featurearray != undefined && featurearray[k]=='Integral'){%>checked<%}%>>Integral
                                 <input type="Checkbox" name="product_feature" 
                                 value="Hand Wheel" class="prod_feature" <% if(featurearray != undefined && featurearray[k]=='Hand Wheel'){%>checked<%}%>>Hand Wheel
                                 <input type="Checkbox" name="product_feature" 
                                 value="Rising" class="prod_feature" <% if(featurearray != undefined && featurearray[k]=='Rising'){%>checked<%}%>>Rising
                                 <input type="Checkbox" name="product_feature" 
                                 value="Gasket" class="prod_feature" <% if(featurearray != undefined && featurearray[k]=='Gasket'){%>checked<%}%>>Gasket
                                 <input type="Checkbox" name="product_feature" 
                                 value="Spiral wound" class="prod_feature" <% if(featurearray != undefined && featurearray[k]=='Spiral wound'){%>checked<%}%>>Spiral wound

                                   <%
                                     }
                                    %>

                    </div>
                   
                </div>
            </div>

            router.post('/componentsave', function (req, res) {
    var rb = req.body;

    db.query.deleteDb('component_mapping_details', " item=" + rb.compmapid, function (cmapdetailsdlt) {
    db.query.insertDb('component_mapping_details', {item:rb.compmapid,company: req.session.user.cur_company, size: rb.product_size, type: rb.product_type, class: rb.product_class, figure: rb.product_figure, ends: rb.product_ends, moc: rb.product_moc, trim: rb.product_trim,prod_feature:rb.feature.toString(),order_quantity: rb.product_qty, inspection: rb.product_inspection, hydraulic_body: rb.product_hydraulic_body, hydraulic_seat: rb.product_hydraulic_seat,pneumatic_seat:rb.product_pneumatic_seat,hydroback_seat:rb.product_hydroback_seat, unit_rate: rb.product_unit_rate, category: rb.product_category, created_by: req.session.user.id, modify_by: req.session.user.id}, function (compmapdtl) {});
     });
    Object.keys(rb.item).forEach(function (k) {
        db.query.deleteDb('component_mapping', " item=" + rb.compmapid, function (cmapdlt) {
        db.query.insertDb('component_mapping', {item:rb.compmapid,company: req.session.user.cur_company, component: rb.item[k].comp, sub_component: rb.item[k].sub_com, product: rb.item[k].prod, prod_quantity: rb.item[k].qnt, created_by: req.session.user.id, modify_by: req.session.user.id},function (compmap) {
                    generateLogFile({user: req.session.user.id, type: 'component mapping', time: new Date(), refer_id: compmap});
                });
        res.end(JSON.stringify({'code': '1', 'msg': 'Success'}));
    });
        });

    
    
});